
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    --color-primario:#EC9544;
    --color-azul: #1E3A8A;
    --color-verde: #34D399;
    --color-naranja: #F97316;
    --color-gris: #9CA3AF;
    --color-rojo: #EF4444;
    --color-blanco: #FFFFFF;

}

body{
    height: 1000px;


  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('Imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
   

   
    
}

.hamburguer {
    position: sticky; 

    z-index: 999; 
    top: 0;

    padding: 10px; 
   
   
 
}

body .nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding-top: 50px;
    z-index: 999;
}

.nav .logo{
    width: 70px;
    border: 2px solid red;
    margin-bottom: 30px;
}

.nav .titulo{
    margin-bottom: 30px;
}
main{
    margin-top: 120px;
}



.hamburguer img{
    box-shadow: 2px 2px 2px black;
    padding: 6px;
    border-radius: 5px;
    width: 60px;
    margin-left: 30px;

}
.menu {
    border: none; 
    
    cursor: pointer; 
}

.cilindro-menu {

    height: auto; 
}


.content {
    padding: 20px;
    
}

.titulo{
    position: sticky;
    top: 0;
}


.menu_opciones{
    background-color: var(--color-primario);
    height: 100%;
    border-top: 3px solid black;
    visibility: hidden;
    position: absolute;
    width: 100%;
    padding-top: 30px;
    margin-top: -30px;
  
    
}



.menu_opciones .visible{
    visibility: visible;
}


.capitulo:hover{
    background-color: white;
    color: black;
    border: 2px solid black;

}

@media screen and (max-width: 767px){
    body .nav{
       padding-left: 10px ;
       padding-right: 10px;
       border: 3px solid black;
    }



  .nav  .titulo{
        font-size: 1rem;
       
    }

    .logo{
        width: 60px;
        
    }

    .hamburguer{
        margin-left: 1px ;
        
        width: 60px;
    }

}

th{
    background-color: var(--color-primario);
}

th, tr, td{
    border: 2px solid white;
    color: white;
    padding: 10px;
}




